@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error en la aplicación.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>Opps, Error en la App</strong> Ha ocurrido un error en la aplicación.
</p>
<p>
    Favor comunicarse con el administrador del sistema.
</p>
