@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <p>Por favor ingresa a la ventana de Inventario para validar el inventario de libros.</p>
</div>
